* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;*/
} 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
header {
  background-color: #cde6f9;
  padding-bottom: 24rem;
}
.headingText {
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headingText h1 {
  font-size: 50px;
  margin: 3% 0;
}
.headingText p {
    color: #525252;
  font-size: 20px;
  margin: 3% 0;
  font-weight: 600;
}
.imgThree {
  position: relative;
  bottom: 22rem;
  margin-bottom: -20rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.button-15 {
  background-image: linear-gradient(#46a1e6, #1889e5);
  border: 1px solid #005897;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-15:hover {
  background-image: linear-gradient(#108eef, #004782);
  border-color: #7491a6;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#0083ee, #003866);
  border-color: #86b6d8;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
/* .top{
    
    width: 100%;
    height: 100vh;
} */

.firstpic {
  width: 300px;
  margin-top: 2rem;
}
.thirdpic {
  width: 300px;
  margin-top: 2rem;
}
#displayPhones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.onePhone {
  width: 400px;
  height: 500px;
  padding: 15px;
  border-radius: 20px;
  margin: 20px 0;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.onePhone p{
    color: grey;
}
.searchPhone{
    margin-top: -19rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.searchPhone h1{
    font-size: 50px;
}
.searchPhone div{
    margin: 3rem auto;
    display: flex;
    gap: 20px;
}
#searchInput{
    width: 250px;
    padding: 10px;
    color: slategrey;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    outline-color: #0062b1;
    border: 1px solid rgb(0, 123, 255);
}
.morePage{
    width: max-content;
    margin: 1rem auto;
}
#extraInfos {
    width: 500px;
    border-radius: 15px;
    margin: auto;
    overflow-y: scroll;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 12px;
    scrollbar-width: none;
    text-align: center;
    box-shadow: rgba(138, 138, 138, 0.4) 0px 2px 4px, rgba(146, 146, 146, 0.3) 0px 7px 13px -3px, rgba(171, 171, 171, 0.2) 0px -3px 0px inset;
    border: none;
    outline: none;
}
#extraInfos form{
    gap: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #525252;
    padding: 0 15px;
}



.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  /* min-height: 40px; */
  outline: 0;
  padding: 10px 12px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 12px 0;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}